
<nav class="navbar navbar-fixed-top navbar-custom">
    <div class="container-fluid">

        <div class="header">
            <a href="#/user/{{model.userId}}/website" class="navbar-text navbar-link pull-left">
                <span class="glyphicon glyphicon-chevron-left glyphy-custom-white">
                </span>
            </a>
            <div class="col-sm-4 hidden-xs">
                <p class="nav-text-white navbar-brand"><strong>Websites</strong></p>
                <a href="#/user/{{model.userId}}/website/new" class="navbar-text navbar-link pull-right">
                    <span class="glyphicon glyphicon-plus glyphy-custom-white">
                    </span>
                </a>
                
            </div>
            
            <div class="col-sm-7">
                <p class="nav-text-white navbar-brand"><strong>New Website</strong></p>
            
            
                <a ng-click="model.createNewWebsite()" class="navbar-text navbar-link pull-right">
                    <span class="glyphicon glyphicon-ok glyphy-custom-white">
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>



<div class="container">
    <div class="row">    
        <div class="col-xs-4 anchor-padding-top hidden-xs">

            <div ng-repeat="website in model.websites" class="row anchor-padding">
                <a href="#/user/{{model.userId}}/website/{{website._id}}">{{website.name}}</a>
                <a href="#/user/{{model.userId}}/website/{{website._id}}" class="pull-right">
                    <span class="glyphicon glyphicon-cog">
                    </span>
                </a>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8 anchor-padding-top">
            <div class="alert alert-danger" role="alert" ng-if="model.condition">
                {{model.error}} required
            </div>
            <form>
                <label for="inputName">Name</label>
                <input type="text" ng-model="model.website.name" class="form-control" placeholder="Name" id="inputName" required>
                <label for="inputDescription">Description</label>
                <textarea class="form-control" ng-model="model.website.description"  placeholder="Description" id="inputDescription" required></textarea>
            </form>
        </div>
    </div>
</div>

    

<nav class="navbar navbar-custom navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="header">
            <a href="#/user/{{model.user._id}}" class="navbar-text pull-right">
                <span class="glyphicon glyphy-custom-white glyphicon-user">
                </span>
            </a>
        </div>
    </div>
</nav>
