
<nav class="navbar navbar-fixed-top navbar-custom-gray">
    <div class="container-fluid">

        <div class="header">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-brand navbar-link">
                <span class="glyphicon glyphicon-chevron-left glyphy-custom-black">
                </span>
            </a>
            
            <p class="nav-text-gray navbar-brand"><strong>New Page</strong></p>

            <a ng-click="model.createPage(model.name, model.description)" class="navbar-text navbar-link pull-right">
                <span class="glyphicon glyphicon-ok glyphy-custom-black">
                </span>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    
    <div class="anchor-padding-top">
        <form>
            <label for="inputName">Name</label>
            <input type="text" ng-model="model.page.name" class="form-control" placeholder="Page Name" id="inputName">
            <label for="inputTitle">Title</label>
            <input type="text" ng-model="model.page.description" class="form-control" placeholder="Page Title" id="inputTitle">
        </form>
    </div>
</div>


<nav class="navbar navbar-custom-gray navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text">
                <a href="#/user/{{model.userId}}" class="navbar-custom-link pull-right">
                    <span class="glyphicon glyphy-custom-blue glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
