
<nav class="navbar navbar-fixed-top navbar-custom-gray">
    <div class="container-fluid">

        <div class="header">
            <a href="page-list.view.client.html" class="navbar-brand navbar-link">
                <span class="glyphicon glyphicon-chevron-left glyphy-custom-black">
                </span>
            </a>
            
            <p class="nav-text-gray navbar-brand"><strong>Edit Page</strong></p>

            <a href="page-list.view.client.html" class="navbar-text navbar-link pull-right">
                <span class="glyphicon glyphicon-ok glyphy-custom-black">
                </span>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    
    <div class="anchor-padding-top">
        <form>
            <label for="inputName">Name</label>
            <input type="text" value="Blog Post" class="form-control" placeholder="Page Name" id="inputName">
            <label for="inputTitle">Title</label>
            <input type="text" class="form-control" placeholder="Page Title" id="inputTitle">
            <a href="page-list.view.client.html" class="form-control anchor-padding btn btn-danger" id="delete">Delete</a>
        </form>
    </div>
</div>


<nav class="navbar navbar-custom-gray navbar-fixed-bottom">
    <div class="container-fluid">    
        <a href="../user/profile.view.client.html" class="navbar-text pull-right">
                    <span class="glyphicon glyphy-custom-blue glyphicon-user">
                    </span>
                </a>
    </div>
</nav>
