
<nav class="navbar navbar-fixed-top navbar-custom-gray">
    <div class="container-fluid">

        <div class="header">
            <a href="#/user/{{model.userId}}/website" class="navbar-brand navbar-link">
                <span class="glyphicon glyphicon-chevron-left glyphy-custom-black">
                </span>
            </a>
            
            <p class="nav-text-gray navbar-brand"><strong>Pages</strong></p>

            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-text navbar-link pull-right">
                <span class="glyphicon glyphicon-plus glyphy-custom-black">
                </span>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div ng-repeat="pg in model.pages" class="col-xs-12 anchor-padding-top">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{pg._id}}/widget">{{pg.name}}</a>
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{pg._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog">
                </span>
            </a>
        </div>
    </div>
</div>
    

<nav class="navbar navbar-custom-gray navbar-fixed-bottom">
    <div class="container-fluid">   
        <a href="#/user/{{model.userId}}" class="navbar-text pull-right">
            <span class="glyphicon glyphy-custom-blue glyphicon-user">
            </span>
        </a>
    </div>
</nav>
