
<nav class="navbar navbar-fixed-top navbar-custom">
    <div class="container-fluid">

        <div class="header">
            <p class="nav-text-white navbar-brand"><strong>Profile</strong></p>

            <a href="profile.view.client.html" class="navbar-text navbar-link pull-right">
                <span class="glyphicon glyphicon-ok glyphy-custom-white">
                </span>
            </a>
        </div>
    </div>
</nav>


    <div class="container">
        <h1></h1>

        <form>
            <div class="form-group anchor-padding-top">
                <label for="username">Username</label>
                <input type="text" ng-model="model.user.username" value="jannunzi" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="form-group anchor-padding">
                <label for="email">Email address</label>
                <input type="email" ng-model="model.user.emailID" value="jannunzi@gmail.com" class="form-control" id="email" placeholder="alice@wonderland.com">
            </div>
            <div class="form-group anchor-padding">
                <label for="first-name">First Name</label>
                <input type="text" ng-model="model.user.firstName" value="Jose" class="form-control" id="first-name" placeholder="Alice">
            </div>
            <div class="form-group anchor-padding">
                <label for="last-name">Last Name</label>
                <input type="text" ng-model="model.user.lastName" value="Annunziato" class="form-control" id="last-name" placeholder="Wonderland">
            </div>
        </form>

        <a class="btn btn-primary btn-block anchor-padding"
           href="../website/website-list.view.client.html">Websites</a>
        <a class="btn btn-danger  btn-block"
           href="#login">Logout</a>
    </div>

<nav class="navbar navbar-custom navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="header">
            <a href="#user/{{model.userId}}" class="navbar-text pull-right">
                <span class="glyphicon glyphy-custom-white glyphicon-user">
                </span>
            </a>
        </div>
    </div>
</nav>
