
<nav class="navbar navbar-fixed-top navbar-custom-gray">
    <div class="container-fluid">

        <div class="header">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/" class="navbar-brand navbar-link">
                <span class="glyphicon glyphicon-chevron-left glyphy-custom-black">
                </span>
            </a>
            
            <p class="nav-text-gray navbar-brand"><strong>Choose Widget</strong></p>

            <a href="" class="navbar-text navbar-link pull-right">
                <span class="glyphicon glyphicon-plus glyphy-custom-black">
                </span>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-12 anchor-padding-top">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/widget-header">Header</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 anchor-padding">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/widget-header">Label</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 anchor-padding">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/widget-header">HTML</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 anchor-padding">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/widget-header">Text Input</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 anchor-padding">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/widget-header">Link</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 anchor-padding">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/widget-header">Button</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 anchor-padding">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/widget-image">Image</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 anchor-padding">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/widget-youtube">YouTube</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 anchor-padding">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/widget-header">Data Table</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 anchor-padding">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/widget-header">Repeater</a>
        </div>
    </div>
</div>
    

<nav class="navbar navbar-custom-gray navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text">
                <a href="#/user/{{model.userId}}" class="navbar-custom-link pull-right">
                    <span class="glyphicon glyphy-custom-blue glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
