
<nav class="navbar navbar-fixed-top navbar-custom-gray">
    <div class="container-fluid">

        <div class="header">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget class="navbar-brand navbar-link">
                <span class="glyphicon glyphicon-chevron-left glyphy-custom-black">
                </span>
            </a>

            <div ng-switch ="model.widget._id">
                <div ng-switch-when="undefined" class="navbar-brand">
                    New Widget
                </div>
                <div ng-switch-default class="navbar-brand">
                    Edit Widget
                </div>
            </div>

            <a ng-click="" class="navbar-text navbar-link pull-right">
                <span class="glyphicon glyphicon-ok glyphy-custom-black">
                </span>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    
    <div class="anchor-padding-top">
        <form>
            <label for="inputName">Name</label>
            <input type="text" class="form-control" placeholder="Page Name" id="inputName">
            <label for="inputText">Text</label>
            <textarea class="form-control" rows="1" placeholder="Page Title" id="inputText">US Senate Reaches Compromise on Emergency</textarea>
            <label for="inputSize">Size</label>
            <input type="text" value="3" class="form-control" id="inputSize">
            <a href="widget-list.view.client.html" class="form-control anchor-padding btn btn-danger" id="delete">Delete</a>
        </form>
    </div>
</div>


<nav class="navbar navbar-custom-gray navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text">
                <a href="#/user/{{model.uid}}" class="navbar-custom-link pull-right">
                    <span class="glyphicon glyphy-custom-blue glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>

